* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: white;
    color: #000;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px; 
}
nav a:hover{
    color: lightgrey;
}
.header{
    position: sticky;
    top: 0;
    background-color: #000;
    padding: 10px;
}
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.hero-content h1 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 20px;
    color: #000;
}
.hero-content p {
    font-size: 1.25rem;
    color: #666;
    margin-bottom: 40px;
    text-align: center;
    max-width: 750px;
    margin: 0 auto 20px;
}

.btn {
    background: #000;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background: #333;
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }
    
    .hero-content p {
        font-size: 1.2rem;
    }
}

.box{
    border-radius: 5px;
    padding: 25px;
    margin: 20px auto;
    width: 1000px;
    /*border: 1.5px solid black;*/
    box-shadow: 0 2px 8px lightgray;
}

.exp p, .intro p{
    font-size: 1rem;
    color: #666;
}

.subhead{
    font-weight: 900;
}

.skill{
    text-align: center;
    padding-bottom: 20px;
}

.container{
    display: flex;
    gap: 5px;
    width: 1000px;
    margin: 0 auto; 
}

.tinybox{
    border-radius: 5px;
    padding: 10px;
    margin: 0px auto;
    width: 200px;
    box-shadow: 0 2px 8px lightgray;
}

.tinybox h3 {
    margin: 0 0 5px 0;     
}
.tinybox ol,.tinybox ul {
    margin: 0;
    padding-left: 20px;
}
.cert{
    text-align: center;
    margin-bottom: 20px;
}
.contac{
    text-align: center;
    margin-bottom: 20px;
}
.cont-container{
    display: flex;
    gap: 5px;
    width: 700px;
    margin: 0 auto;
}
.contactbox{
    border-radius: 5px;
    padding: 10px;
    margin: 0px 0px 65px auto;
    width: 200px;
    box-shadow: 0 2px 8px lightgray;
    padding: 20px;
    text-align: center;
}