* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --base-color: white;
    --text-color1: #000;
    --text-color2: #666;
    --text-color3: #EBEBEB ;
    --shadow-color: rgba(0, 0, 0, 0.15);
    --btn-hover-color: #333;
    --surface-color: #ffffff;
    --theme-color: #E6E6E6;
}
.dark-mode {
    --base-color: #1a1a1a;
    --text-color1: #E1E1E1;
    /* --text-color1: white; */
    --text-color2: #b0b0b0;
    --text-color3: #333;
    --btn-hover-color: #ccc;
    --shadow-color: rgba(255, 255, 255, 0.10);
    --surface-color: #000;
}
#theme-switch{
    border: none;
    outline: none;
    height: 45px;
    width: 45px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--text-color3); 
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50px;
    right: 20px;
} 

#theme-switch svg:last-child{
    display: none;
}

.dark-mode #theme-switch svg:first-child{
    display: none;
}

.dark-mode #theme-switch svg:last-child{
    display: block;
}

#theme-switch svg:first-child{
    fill: #2D2D2D;
    /* background-color: var(--theme-color); */
}

html {
    scroll-behavior: smooth;
}

.tinybox, .points li{
    color: var(--text-color2);
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--base-color);
    color: var(--text-color1);
}

nav a {
    color: var(--base-color);
    text-decoration: none;
    margin: 0 15px; 
}

nav a:hover{
    color: var(--text-color3);
}

.header{
    position: sticky;
    top: 0;
    background-color: var(--text-color1);
    padding: 10px;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 20px;
    color: var(--text-color1);
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 40px;
    text-align: center;
    max-width: 750px;
    margin: 0 auto 20px;
}

.btn {
    background: var(--text-color1);
    color: var(--base-color);
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btn:hover, .btn-handles:hover {
    background: var(--btn-hover-color);
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }
    
    .hero-content p {
        font-size: 1.2rem;
    }
}

.box, .tinybox{
    border-radius: 10px;
    padding: 25px;
    margin: 20px auto;
    width: 1000px;
    /*border: 1.5px solid black;*/
    box-shadow: 0 2px 8px var(--shadow-color);
}
.contactbox{
    border-radius: 10px;
    padding: 10px;
    margin: 0px 0px 65px auto;
    width: 200px;
    box-shadow: 0 2px 8px var(--shadow-color);
    padding: 20px;
    text-align: center;
}
.box, .tinybox, .contactbox {
    background: var(--surface-color);
    box-shadow: 0 2px 8px var(--shadow-color);
}
.exp p, .intro p{
    font-size: 1rem;
    color: var(--text-color2);
}

.subhead{
    font-weight: 900;
    padding-bottom: 5px;
}

.skill{
    text-align: center;
}

.container{
    display: flex;
    gap: 5px;
    width: 1000px;
    margin: 0 auto; 
}

.tinybox h3 {
    margin: 0 0 5px 0; 
    color: var(--text-color1);    
}

.tinybox ol,.tinybox ul {
    margin: 0;
    padding-left: 20px;
}

.cert, .contac{
    text-align: center;
    margin-bottom: 20px;
}

.cont-container{
    display: flex;
    gap: 5px;
    width: 700px;
    margin: 0 auto;
}

.btn-handles {
    background: var(--text-color1);
    color: var(--base-color);
    padding: 7.5px 15px;
    margin-top: 7.5px;
    border: none;
    border-radius: 5px;
    font-size: 0.75rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.points {
    padding: 5px 10px 10px 12px;
}

.gap {
    padding-bottom: 5px;
}