* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: white;
    color: #000;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px; 
}
nav a:hover{
    color: lightgrey;
}
.header{
    position: sticky;
    top: 0;
    background-color: #000;
    padding: 10px;
}
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.hero-content h1 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 20px;
    color: #000;
}
.hero-content p {
    font-size: 1.25rem;
    color: #666;
    margin-bottom: 40px;
    text-align: center;
    max-width: 750px;
    margin: 0 auto 20px;
}

.btn {
    background: #000;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background: #333;
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }
    
    .hero-content p {
        font-size: 1.2rem;
    }
}